/* 定义开始动画 */
@keyframes start { 
    /* 开始动画的初始状态 */
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    /* 开始动画的结束状态 */
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* /定义开始动画 */
/* 定义文字扫光动画 */
@keyframes shine {
    /* 闪光动画的初始状态 */
    0% {
        background-position: -20% 20%;
    }
    /* 闪光动画的中间状态 */
    50% {
        background-position: 120% 100%;
        color: rgba(255, 255, 255, 0);
    }
    /* 闪光动画的结束状态 */
    100% {
        background-position: 120% 100%;
        color: white;
    }
}
/* /定义文字扫光动画 */

/*定义背景动画*/
@keyframes background {
    /* 背景动画的初始状态 */
    0% {
        opacity: 0;
    }
    /* 背景动画的结束状态 */
    100% {
        opacity: 1;
    }
}
/* /定义背景动画 */

/*定义背景隐藏动画*/
@keyframes background_Hidden {
    /* 背景动画的初始状态 */
    0% {
        opacity: 1;
    }
    /* 背景动画的结束状态 */
    100% {
        opacity: 0;
    }
}
/* /定义背景隐藏动画 */ 


/* 定义决定框动画 */
@keyframes decideBox {
    /* 决定框动画的初始状态 */
    0% {
        transform: scale(1.2);
    }
    /* 决定框动画的结束状态 */
    100% {
        transform: scale(1);
    }
}
/* /定义决定框动画 */

/* 定义决定框隐藏动画 */
@keyframes decideBox_Hidden {
    /* 决定框动画的初始状态 */
    0% {
        transform: scale(1);
    }
    /* 决定框动画的结束状态 */
    100% {
        transform: scale(0.8);
    }
}
/* /定义决定框隐藏动画 */

/* 定义加载动画 */
@keyframes load_3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* /定义加载动画 */

/* 定义加载动画的容器 */
.load_3 {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
/* /定义加载动画的容器 */
/* 定义加载动画的每个元素 */
.load_3 div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ffffff;
  border-radius: 50%;
  animation: load_3 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffffff transparent transparent transparent;
  transition: border-color 0.3s ease-in-out;
}
/* /定义加载动画的每个元素 */
.load_3 div:nth-child(1) {
  animation-delay: -0.45s;
}
/* /定义加载动画的每个元素 */
.load_3 div:nth-child(2) {
  animation-delay: -0.3s;
}
/* /定义加载动画的每个元素 */
.load_3 div:nth-child(3) {
  animation-delay: -0.15s;
}
/* /定义加载动画的每个元素 */





/* 隐藏滚动条 */
body::-webkit-scrollbar {
  display: none;
}
/* /隐藏滚动条 */

/* 定义body的样式 */
body {
    margin: 0; /*让body的边距为0，以便于最佳的视觉效果*/
    padding: 0; /*让body的内边距为0，以便于最佳的视觉效果*/
    height: 200vh; /*填充body的高度，使其与屏幕高度一致*/
    background: linear-gradient(116.57deg, rgba(29, 6, 84, 1) 0%, rgba(14, 3, 38, 1) 43.06%, rgba(15, 0, 48, 1) 100%); /*背景的渐变色*/
}
/* /定义body的样式 */

/* 定义第一个屏幕的样式 */
#firstScreen {
    margin: 0; /*让body的边距为0，以便于最佳的视觉效果*/
    padding: 0; /*让body的内边距为0，以便于最佳的视觉效果*/
    height: 100vh; /*视口高度*/
}
/* /定义第一个屏幕的样式 */

/* 定义顶部导航条的样式 */
#topBar {
    z-index: 100; /*层级(最高)*/
    height: 65px; /*规定高度*/
    overflow: hidden; /*溢出隐藏*/
    background: rgba(0, 0, 0, 0.2); /*背景颜色*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /*底部边框*/
    backdrop-filter: blur(10px); /*背景模糊*/
    
    display: flex;  /*弹性布局*/
    flex-direction: row; /*弹性布局的方向为横向*/
    justify-content: space-between; /*弹性布局的对齐方式为两端对齐*/
    padding-left: 20px; /*内边距*/
    padding-right: 20px; /*内边距*/
    align-items: center; /*弹性布局的对齐方式为居中对齐*/
    gap: 10px; /*弹性布局的间距*/
    
    position: fixed; /*固定定位*/
    width: 100%; /*宽度*/
    box-sizing: border-box; /*盒子模型*/
    left: 0; /*距离左侧的距离*/
    top: 0; /*距离顶部的距离*/
}
/* /定义顶部导航条的样式 */

/* 定义右侧底部的样式 */
#rightBottom {
    position: absolute; /*绝对定位*/
    right: 30px; /*距离右侧的距离*/
    bottom: 50px; /*距离底部的距离*/
    width: auto; /*宽度*/
    height: 70%; /*高度*/
    opacity: 0; /*初始透明度*/
}
/* /定义右侧底部的样式 */

/* 定义logo的样式 */
#logo {
    height: 30px; /*规定高度*/
}
/* /定义logo的样式 */

/* 定义顶部按钮集的样式 */
#topButtonsBar {
    height: 100%; /*规定高度*/
    display: flex; /*弹性布局*/
    flex-direction: row; /*弹性布局的方向为横向*/
    align-items: center; /*弹性布局的对齐方式为居中对齐*/
    gap: 10px; /*弹性布局的间距*/
}
/* /定义顶部按钮集的样式 */

/* 定义顶部按钮的样式 */
.topButton {
    height: 100%; /*规定高度*/
    background-color: rgba(0, 0, 0, 0); /*背景颜色*/
    border: 0; /*边框*/
    color: rgba(255, 255, 255, 0.644); /*字体颜色*/
    cursor: pointer; /*鼠标指针*/
    padding-left: 10px; padding-right: 10px; /*内边距*/
    transition: all 0.2s ease-in-out; /*过渡效果*/
}
/* /定义顶部按钮的样式 */


/* 定义顶部按钮悬停时的样式 */
.topButton:hover {
    background-color: rgba(0, 0, 0, 0.171); /*背景颜色*/
}
/* /定义顶部按钮悬停时的样式 */

/* 定义顶部按钮被点击时的样式 */
.fireButton {
    height: 100%; /*规定高度*/
    background-color: rgba(0, 0, 0, 0.171); /*背景颜色*/
    border: 0; /*边框*/
    color: rgba(255, 255, 255, 0.644); /*字体颜色*/
    cursor: pointer; /*鼠标指针*/
}
/* /定义顶部按钮被点击时的样式 */

/* 定义主视图的样式 */
#mainView {
    box-sizing: border-box; /*盒子模型*/
    width: 100%; /*宽度*/
    height: 100vh; /*高度*/
    padding-top: 65px; /*内边距*/
    
    opacity: 0; /*初始透明度*/
}
/* /定义主视图的样式 */

/* 定义启动logo的样式 */
#startLogo {
    width: 300px; /*宽度*/
    margin-top: 100px; /*距离顶部的距离*/
    margin-left: 50px; /*距离左侧的距离*/
    z-index: -1;
}
/* /定义启动logo的样式 */

/* 定义启动logo下方的文字样式 */
h3 {
    margin-left: 50px; /*距离左侧的距离*/
    color: rgba(255, 255, 255, 0.651); /*字体颜色*/
    letter-spacing: 10px; /*字母间距*/
}
/* /定义启动logo下方的文字样式 */

/* 定义下载按钮的样式 */
#downloadButton {
    margin-left: 50px; /*距离左侧的距离*/
    cursor: pointer; /*鼠标指针*/
    width: 80px; /*宽度*/
    height: 40px; /*高度*/
    border-radius: 8px; /*圆角*/
    border: 0; /*边框*/
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(242, 242, 242, 0.1) 100%); /*背景渐变*/
    backdrop-filter: blur(10px); /*背景模糊*/
    color: rgba(255, 255, 255, 0.651); /*字体颜色*/
    opacity: 0.5; /*透明度*/
    outline: 0px solid rgba(255, 255, 255, 0.0); /*轮廓*/
    transition: all 0.3s ease; /*过渡效果*/
    z-index: 100;
}
/* /定义下载按钮的样式 */

/* 定义下载按钮悬停时的样式 */
#downloadButton:hover {
    opacity: 1; /*悬停时透明度*/
    transform: scale(1.05); /*悬停时缩放*/
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.06); /*悬停时阴影*/
}
/* /定义下载按钮悬停时的样式 */

/* 定义下载按钮被点击时的样式 */
#downloadButton:active {
    outline: 3px solid rgba(255, 255, 255, 0.1); /*点击时轮廓*/
    opacity: 0.3; /*点击时透明度*/
}
/* /定义下载按钮被点击时的样式 */

/* 定义第一个按钮集的样式 */
#firstToSecond {
    width: 100%; /*宽度*/
    height: 170px; /*高度*/
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(125, 125, 125, 0.04) 100%); /*背景渐变*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); /*底部边框*/
    border-top: 1px solid rgba(255, 255, 255, 0.15); /*顶部边框*/

    display: flex; /*弹性布局*/
    flex-direction: row; /*横向排列*/
    justify-content: space-between; /*两端对齐*/
    align-items: center; /*居中对齐*/
    box-sizing: border-box; /*盒子模型*/
    padding-left: 20px; /*左内边距*/
    padding-right: 20px; /*右内边距*/
    gap: 20px; /*间距*/
}
/* /定义第一个按钮集的样式 */

/* 定义按钮的样式 */
.buttons {
    flex: 1; /*弹性比例*/
    height: 137px; /*高度*/
    opacity: 1; /*透明度*/
    border-radius: 15px; /*圆角*/
    background: rgba(0, 0, 0, 0.2); /*背景颜色*/
    border: 1px solid rgba(255, 255, 255, 0.15); /*边框*/

    position: relative; /*相对定位*/
    display: flex; /*弹性布局*/
    flex-direction: column; /*纵向排列*/
    align-items: center; /*居中对齐*/
    justify-content: center; /*居中对齐*/
    cursor: pointer; /*鼠标指针*/
    transition: all 0.2s ease; /*过渡效果*/
}
/* /定义按钮的样式 */

/* 定义按钮图片的样式 */
.buttonImg {
    position: absolute; /*绝对定位*/
    top: 50%; /*顶部距离*/
    transform: translateY(-50%); /*垂直居中*/
    height: 64px; /*高度*/
    transition: all 0.2s ease; /*过渡效果*/
    cursor: pointer; /*鼠标指针*/
}
/* /定义按钮图片的样式 */

/* 定义按钮文字的样式 */
.buttonText {
    margin: 0; /*外边距*/
    color: rgba(255, 255, 255, 0.651); /*字体颜色*/
    font-size: 12px; /*字体大小*/

    position: absolute; /*绝对定位*/
    bottom: 20px; /*底部距离*/
    opacity: 0; /*透明度*/
    transition: all 0.2s ease; /*过渡效果*/
    cursor: pointer; /*鼠标指针*/
}
/* /定义按钮文字的样式 */

/* 定义按钮悬停时的样式 */
.buttons:hover {
    opacity: 0.8; /*悬停时透明度*/
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1); /*悬停时阴影*/
}
/* /定义按钮悬停时的样式 */

.buttons:hover .buttonText {
    opacity: 1; /*悬停时透明度*/
    bottom: 25px; /*悬停时底部距离*/
    font-size: 16px; /*悬停时字体大小*/
}
/* /定义按钮悬停时的样式 */

.buttons:hover .buttonImg {
    position: absolute; /*绝对定位*/
    transform: translateY(0%); /*取消垂直居中*/
    top: 20px; /*悬停时顶部距离*/
}
/* /定义按钮悬停时的样式 */

/* 定义按钮悬停时的字体样式 */
.lightFont {
    text-align: center; /*文本居中*/
    font-size: 48px; /*字体大小*/
    font-weight: 900; /*字体粗细*/
    letter-spacing: 0px; /*字母间距*/
    line-height: 84.38px; /*行高*/
    background: #656565 linear-gradient(to left, transparent, #fff, transparent) no-repeat 0 0; /*背景渐变*/
    background-size: 20% 100%; /*背景大小*/
    background-position: 0 0; /*背景位置*/
    background-clip: text; /*背景裁剪*/
    -webkit-background-clip: text; /*Safari背景裁剪*/
    color: transparent; /*字体透明*/
    vertical-align: top; /*垂直对齐*/
}
/* /定义按钮悬停时的字体样式 */

/* 定义评论区域的样式 */
#comments{
    width: 100%; /*宽度*/
    height: auto; /*高度*/
    background: rgba(0, 0, 0, 0.2); /*背景颜色*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); /*底部边框*/
    border-top: 1px solid rgba(255, 255, 255, 0.15); /*顶部边框*/
    box-sizing: border-box; /*盒子模型*/

    display: flex; /*弹性布局*/
    flex-direction: row; /*横向排列*/
    flex-wrap: wrap; /*自动换行*/
    justify-content: space-between; /*两端对齐*/
    align-items: center; /*居中对齐*/
    gap: 20px; /*间距*/
    padding: 20px; /*内边距*/
}
/* /定义评论区域的样式 */

/* 定义评论框的样式 */
.commentBox{ 
    width: calc(50% - 10px); /*宽度为50%减去间距的一半，确保两条评论占一行*/
    padding: 5px;
    height: 120px; /*高度固定*/
    opacity: 1; /*透明度*/
    border-radius: 15px; /*圆角*/
    background: rgba(0, 0, 0, 0.2); /*背景颜色*/
    border: 1px solid rgba(255, 255, 255, 0.15); /*边框*/
    box-sizing: border-box; /*盒子模型*/
    cursor: pointer; /*鼠标指针*/
    transition: all 0.25s ease; /*过渡效果*/
}
/* /定义评论框的样式 */

.commentBox:hover{
    transform: translateY(-2px) scale(1.02); /*悬停时缩放*/
    border-color: rgba(255, 255, 255, 0.3); /*悬停时边框颜色*/
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.033); /*悬停时阴影*/
}
/* /定义评论框悬停时的样式 */

/* 定义评论标题的样式 */
.commentTitle{
    padding: 0; /*内边距*/
    margin: 0; /*外边距*/
    font-size: 16px; /*字体大小*/
    font-weight: 900; /*字体粗细*/
    letter-spacing: 0px; /*字母间距*/
    margin-left: 10px; /*左外边距*/
    margin-top: 10px; /*上外边距*/
    color: rgba(255, 255, 255, 0.651); /*字体颜色*/
    vertical-align: top; /*垂直对齐*/
}
/* /定义评论标题的样式 */

/* 定义评论时间的样式 */
.commentTime{
    padding: 0; /*内边距*/
    margin: 0; /*外边距*/
    font-size: 12px; /*字体大小*/
    font-weight: 500; /*字体粗细*/
    letter-spacing: 0px; /*字母间距*/
    margin-left: 10px; /*左外边距*/
    margin-top: 2px; /*上外边距*/
    color: rgba(255, 255, 255, 0.651); /*字体颜色*/
    vertical-align: top; /*垂直对齐*/
}
/* /定义评论时间的样式 */

/* 定义评论内容的样式 */
.commentContent{
    padding: 0; /*内边距*/
    margin: 0; /*外边距*/
    font-size: 14px; /*字体大小*/
    font-weight: 500; /*字体粗细*/
    letter-spacing: 0px; /*字母间距*/
    margin-left: 10px; /*左外边距*/
    margin-top: 10px; /*上外边距*/
    color: rgba(255, 255, 255, 0.651); /*字体颜色*/
    vertical-align: top; /*垂直对齐*/
}
/* /定义评论内容的样式 */

/* 定义决定框背景的样式 */
#backGround{
    position: fixed; /*固定定位*/
    top: 0; /*顶部距离*/
    left: 0; /*左侧距离*/
    width: 100%; /*宽度*/
    height: 100%; /*高度*/
    background: rgba(0, 0, 0, 0.5); /*背景颜色*/
    z-index: 999; /*层级*/

    display: flex;
    justify-content: center; /*居中对齐*/
    align-items: center; /*居中对齐*/

    animation: background 0.5s ease; /*动画*/
    transition: opacity 0.3s ease;
}
/* /定义决定框背景的样式 */

/* 定义决定框的样式 */
#decideBox{
    width: 400px; /*宽度*/
    height: 200px; /*高度*/


    background: rgba(0, 0, 0, 0.2); /*背景颜色*/
    border-radius: 15px; /*圆角*/
    border: 1px solid rgba(255, 255, 255, 0.15); /*边框*/
    box-sizing: border-box; /*盒子模型*/
    transition: all 0.25s ease; /*过渡效果*/
    animation: decideBox 0.5s ease; /*动画*/

    padding: 20px;
}
/* /定义决定框的样式 */

/* 定义决定框标题的样式 */
#decideBox h1 {
    padding: 0; /*内边距*/
    margin: 0; /*外边距*/
    font-size: 24px; /*字体大小*/
    font-weight: 900; /*字体粗细*/
    letter-spacing: 0px; /*字母间距*/
    color: rgba(255, 255, 255, 0.8); /*字体颜色*/
    vertical-align: top; /*垂直对齐*/
}
/* /定义决定框标题的样式 */

/* 定义决定框内容的样式 */
#decideBox p {
    padding: 0; /*内边距*/
    margin: 0; /*外边距*/
    font-size: 16px; /*字体大小*/
    font-weight: 500; /*字体粗细*/
    letter-spacing: 0px; /*字母间距*/
    color: rgba(255, 255, 255, 0.8); /*字体颜色*/
    vertical-align: top; /*垂直对齐*/
}
/* /定义决定框内容的样式 */

#decideBox{
    position: relative; /* 让子元素相对于#decideBox定位 */
}
#decideBox div{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#decideBox div button{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #00000032;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}
#decideBox div button:hover{
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.033);
    transform: scale(1.05);
    background-color: #ffffff28;
    color: rgb(255, 255, 255);
}